@import "global";

body { 
    background: $backgroundBody;
}

main {
    color: $textColorNormal;
    padding: 6rem;
    font-family: $fontFamilyDefault;
}

p {
    font-size: $fontSizeDefault;
    margin-bottom: 3rem;
}

h1 {
    font-size: $fontSizeJumbo;
    margin-top: 0;
    margin-bottom: 4rem;
    max-width: 20rem;
}

.accent {
    color: $textColorAccent;
}